@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

// colors
$primary-color: #165141;
$secondary-color:#B77C3D;
$white-color: #ffffff;
$text-color: #21234A;
$dark-color: #000E0E;
$font-family: 'Poppins', sans-serif;
$input-border: #c5c5c5;

// Bagckground color